.btn3 {
  width: 220px !important;
  height: 50px;
  margin: 10px !important;
  background-color: black !important;
  margin-top: auto !important;
}

.cartItem {
  height: 240px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.cartOpen {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;
}
